@import url(  "https://fonts.googleapis.com/css?family=Great+Vibes");

body{
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.icon{
    width: 20px;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background: #e742c1;
    margin: 0;
    margin-top: -10px;
    position: fixed;
    z-index: 999;
    align-items: center;
    align-content: center;
    width: 100%;
}
.cart-user{
    padding: 10px;
    margin-left: -100px;
    display: flex;
    justify-content: space-between;
}



.cart-user  img{
    padding: 20px;
}


.cart{
position: relative;
display: flex;
}

.cart-index{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #7fffd4b2;
    position: absolute;

    text-align: center;
}

.cart-index1{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #7fffd4b2;
    position: absolute;

    text-align: center;
}


.first-container{
    display: flex;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding-left: 50px;
    background-attachment: fixed;
    background-image: url(../assets/images/first-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.beauty-kit{
    width: 50%;

}

.beauty-kit h1{
font-size: 100px;
font-family:"Great Vibes";
margin-top: 90px;
/* margin-left: 30px; */

}
.beauty-kit button{
    padding: 10px;
    background: #1a1a1a;
    color: white;
width: 100px;

}



.kit-img  img{
 padding-left: 20px;
 margin-left: 30px;
 margin-top: 70px;
 width: 80%;
}

.second-container{
    align-self: center;
    align-content: center;
    justify-content: center;

}

.second-container-title{
font-size: 36px;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}

.second-container   .desc{
    text-align: center;
}

.products{
    display: flex;
justify-content: space-between;
align-items: center;
align-content: center;
flex-wrap: wrap;
width: 75vw;
margin-left: 10vw;
}

.product{
position: relative;
margin: 10px  10px 10px 10px;
    width: 15vw;
    box-shadow:0px  0px  10px #3c3737  ;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    justify-content: flex-end;
    margin-top: 50px;
    padding: 30px;
    min-height: 380px;
    max-height: 400px;
    max-width: 180px;
    transition: 0.8s;
}


.product img{
    height: 50%;
    width: 80%;
    margin-bottom: 20px;
}

.purchase{
    display: flex;
    bottom: 0;
    position: absolute;
    background: black;
    justify-content: space-around;
    width: 100%;
    margin-left: -30px;
    align-items: center;
    align-content: center;
}

.purchase button{
    border-radius: 30px;
    height: 30px;
}



.purchase p{
    color: white;
}


/*-----------------------------NAV-------------*/
nav{
    /* display: none; */
     padding: 30px;
     position: fixed;
     width: 60vw;
     min-height: 50vh;
     height: 100vh ;
     flex-direction: column;
     /* background: linear-gradient(255,255,0.5); */
     backdrop-filter: blur(10px);
     padding: 20px 40px;
     justify-content: center;
     align-items: center;
     align-content: center;
     border-bottom: 1px solid rgb(207, 207, 207);
     transition: transform 1s cubic-bezier(0.73, 0.11, 0.67, 0.84);
     transform: translateX(-200vh);
     z-index: -1;
     text-align: center;
 }
 nav.active{
     transform: translateX(0);
 }
 
 .iconsmedia{
     display: block;
 }
 
 .burger.active img{
 src: url("assets/fontawesome-free-6.4.0-web/svgs/solid/cross.svg");
 }
 .burger{
     transition: 0.5s;
     width: 30px;
     margin-left: 20px;
     top: 0;
     left: 0;
     margin-top: 30px;
     position: absolute;
     transform: translateY(-90px);
 }
 


/*--------------------------------RESPONSIVE--------------------------------*/

@media screen and (max-width:992px) {

    body{
        overflow-x: hidden;
    }
    .products{
        width: 90%;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    padding: 0;
    margin-left: 30px;
    }

    .product{
        width: 50%;
        margin: 20px  5px  10px  0px ;
    }


}



@media screen  and  (max-width:768px){
    .kit-img{
        display: none;

    }
    .beauty-kit{
        width: 100%;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
    }



    .first-container .desc{
        align-items: center;
        text-align: center;
    }


    .beauty-kit h1{
    font-size: 70px;
    font-family:"Great Vibes";
    margin-top: 90px;

    }
.first-container{
    background-size: cover;
    padding: 0;
}

.product{
    min-width: 70%;
    min-height: 70vh;
}

.products{
    width: 100%;
    padding: 0;
    margin: 0;
}


.logo{
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
}

.navbar{
justify-content: center;
align-content: center;
align-items: center;
width: 100vw;
}
.icons{
    display: none;
}


nav {
    display: flex;
    z-index: 3;
}

.burger{
    transform: translateY(0);
}

nav img{
    width: 40px;
}

}




